nav ul {
    display:flex;
    margin:20px 0; 
}

nav li {
    width:25%;
    margin-right:20px; 
}

.hidden {
    display: none;
}

.paypalform fieldset {
    display: grid;
    grid-template-columns: 35% 10% 22.5% 22.5%
}