nav ul {
    display:flex;
    margin:20px 0; 
}

nav li {
    width:25%;
    margin-right:20px; 
}

.hidden {
    display: none;
}

#paypal-button-container .grid-container {
    display: grid;
    grid-template-columns: 35% 20% 25% 25%;
    grid-gap: 10px; /* Optional gap between columns */
}

#paypal-button-container .grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}