* {
    box-sizing: border-box;
}

nav ul {
    display:flex;
    margin:20px 0; 
}

nav li {
    width:25%;
    margin-right:20px; 
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr;
    grid-gap: 20px;
}

input[readonly] {
    color:gray;
    background-color: #f2f2f2;
    border-color:#f2f2f2;
}

.grid-container bold {
    grid-column: span 1;
}

.grid-container #produitltot {
    grid-column: span 3;
}